<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net461" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
</packages>